main{
    box-sizing: border-box;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.state-card{
    box-sizing:border-box;
    padding: 38px 28px 34px 20px;
    width:calc(100% - 40px);
    background-color: hsl(213, 19%, 18%);
    border-radius:32px;
    display:block;
    margin:0 auto;
}
.state-card h2{
    color:hsl(0, 0%, 100%);
    font-size: 1.8rem;
    font-weight:700;
    margin: 0;
    word-spacing: 0.07ch;
}
.state-card p{
    color:hsl(216, 12%, 54%);
    line-height: 1.6;
    margin:10px 0 0;
    font-size:1rem;
}
#rating-state{
    text-align:left;
}
#rating-state > *{
    margin:32px 0;
}
#rating-state > *:first-child{
    margin-top:0;
}
#rating-state > *:last-child{
    margin-bottom:0;
}
#rating-state #icon-star{
    width:48px;
    height:48px;
    border-radius:50%;
    background-color:hsla(217, 12%, 63%, .2);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}
#rating-state #rating-bar{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
#rating-state #rating-bar > div{
    width:42px;
    height:42px;
    background-color:hsla(217, 12%, 63%, .2);
    color:hsl(216, 12%, 54%);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1rem;
    font-weight: 700;
    cursor:pointer;
}
#rating-state #rating-bar > div.active{
    background-color:hsla(217, 12%, 63%, 1);
    color:hsl(0, 0%, 100%);
}
#rating-state #rating-bar > div:hover{
    background-color:hsl(25, 97%, 53%);
    color:hsl(0,0%,100%);
}
#rating-state #btn-submit{
    background-color:hsl(25, 97%, 53%);
    color:hsl(0,0%,100%);
    display:flex;
    justify-content: center;
    align-items:center;
    padding:.7em;
    font-size:1.15rem;
    font-weight:700;
    text-transform: uppercase;
    letter-spacing: .12ch;
    border-radius:2em;
    cursor:pointer;
    transition:.4s;
}
#rating-state #btn-submit:hover{
    transition:.4s;
    background-color:hsl(0,0%,100%);
    color:hsl(25, 97%, 53%);
}
#rating-state #btn-submit:active{
    transition:0s;
    transform:scale(1.05);
    background-color:hsl(25, 97%, 53%);
    color:hsl(0,0%,100%);
}
#thank-you-state{
    text-align:center;
    padding-bottom:57px;
    padding-top:42px;
}
#thank-you-state p#rating{
    color:hsl(25, 97%, 53%);
    font-size:1rem;
    display:inline-block;
    background:hsla(217, 12%, 63%, .2);
    margin:30px 0 42px;
    padding:.6em .8em;
    line-height: 1;
    border-radius: 1.2em;
}
#illustration-thank-you{
    display: block;
    margin:0 auto;
}
.state-card.hidden{
    display:none;
}
@media (min-width:480px){
    .state-card{
        padding: 38px 38px 34px 30px;
        width:408px;
    }
    #rating-state #rating-bar > div{
        width:50px;
        height:50px;
    }
}